/*@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
body{
    font-family: 'Kanit', sans-serif;
}
*/

/*ใช้สำหรับพื้นหลังสีเหลือง*/
.tab-bg-yellow{
    -fx-background-color: #FFD12F;
}

/*ใช้สำหรับพื้นหลังสีขาว*/
.tab-bg2{
    -fx-background-color: #FFFFFF;
}

/*แถบด้านบนสุด*/
.title-tab-yellow{
    -fx-background-color: #FFD12F;
}

/*ปุ่มสีเหลืองที่มีเอฟเฟต์กด*/
.button-yellow{
    -fx-background-color: #FFD12F;
    -fx-background-radius: 8;
    -fx-border-width: 10;
    -fx-text-fill: #FFFFFF;
}
.button-yellow:hover{
    -fx-background-color: #FFC700;
}
.button-yellow:pressed{
    -fx-background-color: #F0BF11;
}

/*ปุ่มที่มีเฉพาะขอบเทาตรงกลางเป็นสีขาว*/
.button-grey-border{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: #E2E2E2;
    -fx-border-radius: 8;
}
.button-grey-border:hover{
    -fx-background-color: #F9F9F9;
}
.button-grey-border:pressed{
    -fx-background-color: #EEEEEE;
}

/*กรอบสีเทา ใช้ใน textField*/
.box-grey-border{
    -fx-text-fill: #9C9C9C;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: #E2E2E2;
    -fx-border-radius: 8;
}

/*สีตัวอักษรแบบที่ 1*/
.text-type1{
    -fx-text-fill: #9C9C9C;
}

.text-type2{
    -fx-text-fill: #717171;
}

/*choiceBox สีเทา*/
.choiceBox-grey-border{
    -fx-background-color: #E2E2E2;
    -fx-background-radius: 8;
}
.choiceBox-grey-border:hover{
    -fx-background-color: #E0DEDE;
}
.choiceBox-grey-border:pressed{
    -fx-background-color: #EEEEEE;
}

/*button ขอบสีเทาตรงกลางสีเทาอ่อน*/
.button-grey2-border{
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: #C4C4C4;
    -fx-border-radius: 8;
}
.button-grey2-border:hover{
    -fx-background-color: #F9F9F9;
}
.button-grey2-border:pressed {
    -fx-background-color: #EEEEEE;
}

/*ปุ่มสีเหลืองแบบพื้นฐาน*/
.tab-button-yellow {
    -fx-background-color: #FFD12F;
    -fx-background-radius: 8;
    -fx-font-size: 18;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 35;
    -fx-pref-width: 200;
}

/*ปุ่มสีเทาแบบกดได้*/
.button-grey{
    -fx-background-color: #CCCCCC;
    -fx-background-radius: 8;
    -fx-border-width: 10;
    -fx-font-size: 18;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 35;
    -fx-pref-width: 200;
}
.button-grey:hover{
    -fx-background-color: #C1C1C1;
}
.button-grey:pressed{
    -fx-background-color: #BBBBBB;
}

/*ทำรูปให้เป็นวงกลม*/
img {
    border-radius: 50%;
}