.tab-color{
    -fx-background-color: white;
}

.button{
    -fx-background-color: #FFD12F;
    -fx-background-radius: 8;
    -fx-border-width: 10;
}
.button:hover{
    -fx-background-color: #FFC700;
}
.button:pressed{
    -fx-background-color: #F0BF11;
}

.button-2{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-width: 2;
    -fx-border-color: #E2E2E2;
    -fx-border-radius: 8;
}
.button-2:hover{
    -fx-background-color: #F9F9F9;
}
